*.bbl
*.log
*.aux
*.out
*.Renviron
*.Rout
*.toc
*.Rhistory
*.blg
ms.tex
output_01
output_03/mif2_maximization/SBH_init/round_07
ms-concordace.tex
*~
cache/*
figure/*
*concordance.tex
*.DS_Store
*.synctex.gz
